* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  padding: 0 180px;
  background-color: black;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 62%;
  gap: 20px;
  position: relative;
  background-color: rgb(247, 249, 250);
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 180px;
  position: absolute;
  top: 20%;
}

.text {
  font-size: 24px;
  font-weight: 600;
  width: 90%;
  padding-left: 40px;
}

span {
  font-style: italic;
}

.text p:nth-child(3) {
  padding: 30px 0;
}

.action {
  padding-left: 40px;
  p {
    margin-top: 24px;
  }
}
.form {
  background-color: white;
  margin-bottom: 20px;
  padding-left: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}
.form > p {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0;
}

.form-group {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 12px;
}

input {
  width: 220px;
  height: 32px;
  border: 1px solid grey;
  border-radius: 4px;
}

button {
  background-color: #5a6e48;
  color: white;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #5a6e48;
  border-radius: 8px;
}

a {
  color: #5a6e48;
  text-decoration: none;
  font-weight: 700;
}
